.present__container {
	max-height: 780px;
}

.present__about {
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	transform: translate(0px, -464px);
	position: relative;
	z-index: 2;
}

.present__text {
	font-size: 100px;
	color: #ffb822;
	margin-bottom: 16px;
}

.present__title {
	font-size: 40px;
}

.present__image {
	border-radius: 0px 150px 0 155px;
	overflow: hidden;
	width: 100%;
}

.present__image img {
	opacity: .7;
}